<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: student.name.full || student.user}) %>
		<link rel="stylesheet" href="/user/index.css" />
		<link rel="stylesheet" href="/findtutors/index.css" />

		<link rel="stylesheet" href="/bundle/style.css" />

		<script type="module">
import mount from "/bundle/user/index.js";
mount("user-session-controls", {
	clientId: "<%- user._id %>",
	clientIsTutor: <%- user.isTutor %>,
	pageOwnerId: "<%- student._id %>",
	isTutorPage: false,
});
		</script>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<user-dashboard>
				<div class="user-heading">
					<h1><%- student.name.full || student.user %></h1>
					<div>
						<member-label>Student</member-label>
					</div>
				</div>

				<div class="user-email">Contact: <a href="mailto:<%- student.email %>"><%- student.email %></a></div>

				<user-session-controls></user-session-controls>
			</user-dashboard>

			<section>
				<dl>
					<dt>I’ve registered for a session! What do I do now?</dt>
					<dd>The tutor of the session will see your request. Wait for them to confirm your session. If you’ve been confirmed, then your tutor will follow up with a meeting link that you can view on this page!</dd>
				</dl>
			</section>
		</main>

		<%- include('../partials/footer.ejs')%>
	</body>
</html>