<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: tutor.user}) %>
		<link rel="stylesheet" href="/tutor/index.css" />
		<link rel="stylesheet" href="/findtutors/index.css" />

		<link rel="stylesheet" href="/tutor/app.css" />

		<script type="module">
import mount from "./app.js";
mount("tutor-session-controls", {
	clientUsername: "<%- user.user %>",
	clientIsTutor: <%- user.isTutor %>,
	pageOwnerUsername: "<%- tutor.user %>",
	isTutorPage: true,
});
		</script>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<tutor-dashboard>
					<div class="user-heading">
						<h1><%- tutor.user %></h1>
						<div>
							<member-label>Tutor</member-label>
						</div>
					</div>
					
					<div class="user-email">Contact: <a href="mailto:<%- tutor.email %>"><%- tutor.email %></a></div>

					<tutor-session-controls></tutor-session-controls>
				</tutor-dashboard>
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>