<!DOCTYPE html>

<html lang="en">
	<head>
		<%- include('../partials/top.ejs', {pagename: "Find tutors"}) %>
		<link rel="stylesheet" href="/findtutors/index.css" />
		<link rel="stylesheet" href="/findtutors/app.css" />

		<script type="module">
import mount from "./app.js";
mount("session-viewer", {
	username: "<%- user.user // lil hacky %>",
	isTutor: <%- user.hasPermission("post-session") %>,
});
		</script>
	</head>

	<body>
		<%- include('../partials/nav.ejs')%>

		<main>
			<article>
				<session-viewer>
					<noscript>
						<session-list>
							<% for (const session of sessions) { %>
							<session-item <%- session.student ? 'class="reserved"' : '' %>>
								<h3><%- session.subject %></h3>
								<session-people>
									<div>Offered by <b><%- session.tutor %></b></div>
									<% if (session.student) { %>
									<div>Reserved</div>
									<% } %>
								</session-people>
								<session-time>Starts at <b><%- session.begin %></b>&#x2002;•&#x2002;Up to <b><%- session.duration * 60 %> min</b></session-time>
							</session-item>
							<% } %>
						</session-list>
					</noscript>
				</session-viewer>
			</article>

			<%- include('../partials/footer.ejs')%>
		</main>
	</body>
</html>